<div class="p-4">
    <!-- Contenedor principal para ambas tablas en una sola fila -->
    <div class="flex flex-col lg:flex-row border border-gray-300 rounded-lg overflow-hidden">
        <!-- Tabla de lista de servicios (columna izquierda) -->
        <div class="lg:w-5/12 w-full p-4 border-b lg:border-b-0 lg:border-r border-gray-300 overflow-x-auto">
            <table class="min-w-full bg-white">

                <tbody>
                    <!-- Primera fila de servicio -->
                    <tr class="border-b border-gray-200 h-16">
                        <td class="px-4 py-2 font-bold">
                            <strong>Andrés Vélez</strong>
                            <br>
                            <div class="flex gap-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z"
                                        stroke="#FF3C3A" stroke-width="1.4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M8 8.66669C9.10457 8.66669 10 7.77126 10 6.66669C10 5.56212 9.10457 4.66669 8 4.66669C6.89543 4.66669 6 5.56212 6 6.66669C6 7.77126 6.89543 8.66669 8 8.66669Z"
                                        stroke="#FF3C3A" stroke-width="1.4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M4.11194 12.566C4.27694 12.0168 4.61458 11.5355 5.07477 11.1933C5.53495 10.8512 6.09317 10.6665 6.6666 10.6667H9.33327C9.90744 10.6665 10.4663 10.8516 10.9269 11.1945C11.3874 11.5375 11.7249 12.0199 11.8893 12.57"
                                        stroke="#FF3C3A" stroke-width="1.4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                C.C.: 1.015.236.584
                            </div>
                            <div class="flex gap-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_3347)">
                                        <path
                                            d="M3.33333 2.66669H6L7.33333 6.00002L5.66667 7.00002C6.38064 8.44771 7.55231 9.61938 9 10.3334L10 8.66669L13.3333 10V12.6667C13.3333 13.0203 13.1929 13.3594 12.9428 13.6095C12.6928 13.8595 12.3536 14 12 14C9.39951 13.842 6.94677 12.7377 5.10455 10.8955C3.26234 9.05325 2.15803 6.60051 2 4.00002C2 3.6464 2.14048 3.30726 2.39052 3.05721C2.64057 2.80716 2.97971 2.66669 3.33333 2.66669"
                                            stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_3347">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                                321 971 6671
                            </div>
                        </td>
                        <td class="px-4 py-2 text-sm">
                            <span class="block font-medium">AAA123</span>
                            <span class="block font-medium">BBB123</span>
                        </td>
                        <td class="px-4 py-2 text-sm">
                            <span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.3333 12.6667C10.5969 12.6667 9.99996 12.0697 9.99996 11.3333C9.99996 10.597 10.5969 10 11.3333 10C12.0697 10 12.6666 10.597 12.6666 11.3333C12.6666 12.0697 12.0697 12.6667 11.3333 12.6667Z"
                                        stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M4.66667 12.6667C3.93029 12.6667 3.33333 12.0697 3.33333 11.3333C3.33333 10.597 3.93029 10 4.66667 10C5.40305 10 6 10.597 6 11.3333C6 12.0697 5.40305 12.6667 4.66667 12.6667Z"
                                        stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M12.6667 11.3333H14V3.99998C14 3.82317 13.9298 3.6536 13.8047 3.52858C13.6797 3.40355 13.5101 3.33331 13.3333 3.33331H7.33333V11.3333M10 11.3333H6M3.33333 11.3333H2V7.33331M2 7.33331H7.33333M2 7.33331L4 3.99998H7.33333"
                                        stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                C253</span>
                        </td>
                        <td class="px-4 py-2 text-sm">
                            <span class="text-green-600 font-semibold block">En servicio</span>
                        </td>
                        <td class="px-4 py-2 text-sm">4.703547, -74.029014</td>
                    </tr>

                    <!-- Segunda fila de servicio -->
                    <tr class="border-b border-gray-200 h-16">
                        <td class="px-4 py-2 font-bold">
                            <strong>Andrés Vélez</strong>
                            <br>
                            <div class="flex gap-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8 14C11.3137 14 14 11.3137 14 8C14 4.68629 11.3137 2 8 2C4.68629 2 2 4.68629 2 8C2 11.3137 4.68629 14 8 14Z"
                                        stroke="#FF3C3A" stroke-width="1.4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M8 8.66669C9.10457 8.66669 10 7.77126 10 6.66669C10 5.56212 9.10457 4.66669 8 4.66669C6.89543 4.66669 6 5.56212 6 6.66669C6 7.77126 6.89543 8.66669 8 8.66669Z"
                                        stroke="#FF3C3A" stroke-width="1.4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M4.11194 12.566C4.27694 12.0168 4.61458 11.5355 5.07477 11.1933C5.53495 10.8512 6.09317 10.6665 6.6666 10.6667H9.33327C9.90744 10.6665 10.4663 10.8516 10.9269 11.1945C11.3874 11.5375 11.7249 12.0199 11.8893 12.57"
                                        stroke="#FF3C3A" stroke-width="1.4" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                C.C.: 1.015.236.584
                            </div>
                            <div class="flex gap-2">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_3347)">
                                        <path
                                            d="M3.33333 2.66669H6L7.33333 6.00002L5.66667 7.00002C6.38064 8.44771 7.55231 9.61938 9 10.3334L10 8.66669L13.3333 10V12.6667C13.3333 13.0203 13.1929 13.3594 12.9428 13.6095C12.6928 13.8595 12.3536 14 12 14C9.39951 13.842 6.94677 12.7377 5.10455 10.8955C3.26234 9.05325 2.15803 6.60051 2 4.00002C2 3.6464 2.14048 3.30726 2.39052 3.05721C2.64057 2.80716 2.97971 2.66669 3.33333 2.66669"
                                            stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_3347">
                                            <rect width="16" height="16" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                                321 971 6671
                            </div>
                        </td>
                        <td class="px-4 py-2 text-sm">
                            <span class="block font-medium">AAA123</span>
                            <span class="block font-medium">BBB123</span>
                        </td>
                        <td class="px-4 py-2 text-sm">
                            <span>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.3333 12.6667C10.5969 12.6667 9.99996 12.0697 9.99996 11.3333C9.99996 10.597 10.5969 10 11.3333 10C12.0697 10 12.6666 10.597 12.6666 11.3333C12.6666 12.0697 12.0697 12.6667 11.3333 12.6667Z"
                                        stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M4.66667 12.6667C3.93029 12.6667 3.33333 12.0697 3.33333 11.3333C3.33333 10.597 3.93029 10 4.66667 10C5.40305 10 6 10.597 6 11.3333C6 12.0697 5.40305 12.6667 4.66667 12.6667Z"
                                        stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M12.6667 11.3333H14V3.99998C14 3.82317 13.9298 3.6536 13.8047 3.52858C13.6797 3.40355 13.5101 3.33331 13.3333 3.33331H7.33333V11.3333M10 11.3333H6M3.33333 11.3333H2V7.33331M2 7.33331H7.33333M2 7.33331L4 3.99998H7.33333"
                                        stroke="#FF3C3A" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                C253</span>
                        </td>
                        <td class="px-4 py-2 text-sm">
                            <span class="text-green-600 font-semibold block">En servicio</span>
                        </td>
                        <td class="px-4 py-2 text-sm">4.703547, -74.029014</td>
                    </tr>
                    <!-- Añade más  -->
                </tbody>
            </table>
        </div>

        <!-- Tabla del calendario (columna derecha) -->
        <div class="lg:w-5/12 w-full p-4 border-b lg:border-b-0 lg:border-r border-gray-300 flex-1 overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead>
                    <tr class="bg-gray-100 h-16">
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Lunes 11
                            abr.<br>Libres: 12</th>
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Martes 12
                            abr.<br>Libres: 10</th>
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Miércoles 13
                            abr.<br>Libres: 35</th>
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Jueves 14
                            abr.<br>Libres: 8</th>
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Viernes 15
                            abr.<br>Libres: 15</th>
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Sábado 16
                            abr.<br>Libres: 7</th>
                        <th class="text-left px-4 py-2 border-b border-gray-200 whitespace-nowrap">Domingo 17
                            abr.<br>Libres: 32</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Primera fila del calendario -->
                    <tr class="border-b border-gray-200 h-16">
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-green-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-green-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200"></td>
                        <td class="text-center px-4 py-2 border-b border-gray-200"></td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-yellow-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-yellow-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-yellow-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                    </tr>

                    <!-- Segunda fila del calendario -->
                    <tr class="border-b border-gray-200 h-16">
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-green-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-green-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200"></td>
                        <td class="text-center px-4 py-2 border-b border-gray-200"></td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-yellow-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-yellow-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                        <td class="text-center px-4 py-2 border-b border-gray-200">
                            <span class="bg-yellow-400 text-white px-2 py-1 rounded">SVC.123456</span>
                        </td>
                    </tr>
                    <!-- Añade más filas según sea necesario -->
                </tbody>
            </table>
        </div>
    </div>
</div>